doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug Template Engine
    body 
        div 
            header 
                h2 Pug Template Engine
            section 
                h2 my section of web page
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, nulla.
                p Lorem ipsum dolor sit amet consectetur.
            footer 
                h3 footer section
                p 
                    a(href="/") my link 