doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/style.css")
        title Pug Template Engine
    body 
        div 
            header 
                h2.green Pug Template Engine
            section 
                h2.red #{section}
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, nulla.
                p Lorem ipsum dolor sit amet consectetur.
            footer 
                h3.blue footer section
                p 
                    a(href=link, target="_blank") my link