<section class="mechanic">
    <header>
        <div>
            <div>
                <a href="#">
                    <i class="bi bi-telephone"></i>
                    Call us : 1.800.123.4567
                </a>
                <a href="#">
                    <i class="bi bi-watch"></i>
                    Opening hours : Mon-Fri 8h-15h
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="#">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
        <div>
            <figure>
                <img src="assets/img/mechanic-logo-svg.svg" alt="" />
            </figure>
            <nav>
                <ul>
                    <li>
                        <a href="#"><%-title%></a>
                        <i class="bi bi-chevron-down"></i>
                        <ul>
                            <%links.forEach(item => {%>
                            <li><a href="#"><%=item.text%></a></li>
                            <%})%>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Our services</a>
                        <i class="bi bi-chevron-down"></i>
                        <ul>
                            <li><a href="#">Mechanical engineering</a></li>
                            <li><a href="#">General mechanic</a></li>
                            <li><a href="#">Maintenance mechanic</a></li>
                            <li><a href="#">Car mechanic</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <button>Buy Avada</button>
        </div>
    </header>
    <div>
        <div>
            <form autocomplete="off" spellcheck="false">
                <input type="text" placeholder="Name ...*" />
                <input type="email" placeholder="Email ...*" />
                <button>Book appointment</button>
            </form>
        </div>
        <div>
            <p>Welcome to Avada Mechanic</p>
            <h1>Highly skilled certified mechanics guaranteed.</h1>
            <button>Need a car inspection?</button>
            <div>
                <figure>
                    <img src="assets/img/avatar-1.webp" alt="" />
                </figure>
                <div>
                    <p>Got a question about our services?</p>
                    <p>Call us : 1.800.123.4567</p>
                </div>
            </div>
        </div>
    </div>
</section>